@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    visibility: hidden;
    font-size: 0;
}



.container {    
    width: 1190px; 
    padding: 0;
    margin: 0 auto;    
}



.wrapper__for_fucking_buttons {
    height: 815px;
    width: 1155px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/burger';
@import 'blocks/fade';
@import 'blocks/button';
@import 'blocks/backstage';
@import 'blocks/feed';
@import 'blocks/testimonials';
@import 'blocks/footer';
@import 'blocks/donate';
@import 'blocks/donation';
@import 'blocks/media';
@import 'blocks/modal_show';


.active {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;    
}



.default {
    color: #929699;
}

.focus {
    color: #4B9200;
}

.focus__input {
    border: 1px solid #4B9200;
}

.mistake {
    color: #D31414;
}

.hide {    
    display: none;
}
 
