.donate {    
    width: 100%;
    min-height: 390px;
    background: url('../../assets/images/donate/donate__background.jpg') center /cover  no-repeat;  
    margin-top: 80px;
    &__header {
        top: 0px;
    }
}