.feed {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    &__wrapper {
        width: 1160px;
        margin-left: 15px;
        border-radius: 20px;
        background-color: rgba(253, 253, 255, 0.52);
        &_title {
            padding-top: 41px;            
            font-weight: 400;
            font-size: 48px;
            text-align: center;
            color: #FE9013;
        }
        &_items {
            padding-left: 99px;
            padding-top: 30px;
            font-size: 16px;
            color: #333B41;
            &-sub {
                font-size: 24px;
            }
            &-descr {
                padding-top: 40px;
                font-weight: 500;
                color: #333B41;
            }
            &-content {
                padding-top: 10px;
                line-height: 21px;
                a {
                    color: inherit;
                    text-decoration: none;
                    border-bottom: 1px solid #FE9013;
                }
            }
        }
    }
    &__items {
        text-align: center;
        padding-top: 60px;
        width: 764px;
        margin: 0 auto;
        &_title {
            font-weight: 400;
            font-size: 36px;
            color: #333B41;
        }
        &_wrapper {
            padding-top: 45px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;            
            &-item {
                width: 168px;
                &-wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 165px;
                    height: 168px;
                    background-color: #FFFFFF;
                    justify-content: center;
                    border: 1px solid orange;
                    border-radius: 5px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -1px;
                        bottom: -1px;
                        left: -1px;
                        right: -1px;
                        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                        border: 1px solid;
                        border-radius: 5px;
                        z-index: -1;
                    }
                    &-descr {
                        padding-top: 30px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: left;
                        color: #333B41;
                    }
                    &-arrow1 {
                        position: absolute;
                        left: 119%; 
                        top: 50%;  
                        transform: translateY(-50%);                     
                    }
                    &-arrow2 {
                        position: absolute;
                        left: 119%;
                        top: 50%;  
                        transform: translateY(-50%);    
                    }
                }
            }
        }
    }
    &__button {
        display: block;        
        text-align: center;
        margin-top: 60px;
        padding-bottom: 59px;        
    }
}