.footer {
    padding: 40px 220px 50px;
    background-color: #111115;
    &__logo {
        margin-left: 0;
    }    
    &__wrapper {        
        display: grid;
        height: 352px;
        width: 1160px;
        grid-template-columns: 367px 362px 367px;
        grid-template-rows: 85px 54px 42px;        
        justify-content: space-between;
        align-content: space-between;
        &_items {
            height: 174px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-links {
                display: flex;
                flex-direction: column;
                height: 134px;
                justify-content: space-between;
                grid-column-start: 1;
                grid-row-start: 3;
                a {
                    display: flex;
                    flex-direction: row;
                    font-weight: 400;
                    font-size: 16px;
                    color: #FFFFFF;
                    text-decoration: none;
                    align-items: center;
                    height: 26px;
                    position: relative;
                    &:before {
                        content: '';
                        width: 26px;
                        height: 26px;
                        background: rgba(196, 196, 196, 0.5);
                        position: absolute;
                        border-radius: 100%;
                    }
                    &:hover {
                        color: orange;
                        &:before {
                            background: rgba(255, 115, 55, 0.5);
                            
                        }
                    }
                    &:active {
                        color: #4B9200;
                        &:before {
                            background: rgba(75, 146, 0, .5);
                            
                        }
                    }                    
                    div {
                        align-self: center;
                        display: flex;
                        width: 26px;
                        justify-content: center;
                        margin-right: 10px;
                        z-index: 10;
                    }
                }
            }
        }
        &_input {
            grid-column-start: 3;
            width: 366px;
            height: 85px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            label {
                height: 29px;
                font-weight: 400;
                font-size: 24px;
                color: #FFFFFF;
                align-content: space-between;
            }
            &-email {
                width: 228px;
                height: 42px;
                background-color: transparent;
                border: 1px solid orange;
                border-radius: 2px;
                text-align: center;
                color: #FFFFFF;
                outline: none;
                &::placeholder {
                    text-align: left;
                    padding-left: 10px;
                }                
            }
            [type='email']:valid {
                border: 1px solid orange;                
            }
            [type='email']:valid + .footer__button {
                color: #000000;
                border: 1px solid rgb(0, 0, 0);                
            }
            [type='email']:invalid {
                color: red;
                border: 1px solid red;
                &:focus  {
                    border: 1px solid green;
                    color: #FFFFFF;
                }
                &:focus + .footer__button {
                    border: 1px solid green;
                    color: green;
                }
            }
        }
        &_nav {
            grid-column-start: 2;
            grid-row-start: 4;
            width: 362px;
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-self: end;           
            a {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 16px;
                text-decoration: none;
                &:hover {
                    font-family: 'Roboto';
                    font-style: normal;
                    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-weight: 400;
                }
                &:active {
                    font-family: 'Roboto';
                    font-style: normal;
                    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }                
            }
        }
        &_design {
            justify-self: end;
            grid-column-start: 3;
            grid-row-start: 4;
            line-height: 28px;
            width: 228px;
            height: 52px;
            font-weight: 100;
            font-size: 16px;
            color: #FFFFFF;
            a {
                color: #FFFFFF;
                text-decoration: none;
                &:hover {
                    color: orange;
                }
                &:active {
                    color: #4B9200;
                }
            }
        }
    } 
    &__button {  
        display: block;     
        width: 129px;
        height: 42px;
        border-radius: 5px;
        color: red;
        border: 1px solid red;
        cursor: pointer;
    }
}