.modal__show {
    margin: 0 auto;
    width: 275px;
    height: 428px;
    padding-top: 20px;    
    padding-right: 36px;
    padding-left: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24%;  
    background-color: #FFFFFF;
    border: 1px solid lightgray; 
    z-index: 10000;   
    &_item {
        width: 270px;
        height: 390px;
        &-descr {
            width: auto;
            height: 325px;
            padding-right: 14px;
        }
    }
}

.modal__testimonials_close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


@media (max-width: 639px) { 
    .modal__show {        
        left: -10px;  
    }
}